In [ ]:
import pandas as pd
raw_data = pd.read_csv("march_MT1080.csv")
raw_data.head()

,DevID,SysDT,Fuel_Ltrs,Gen_Voltage,Temp0,Temp1,BatBank0,BatBank1,CP,CT0,...,Temp1BitB,Temp1BitA,Temp0BitC,Temp0BitB,Temp0BitA,Relay0,Relay1,Relay2,Relay3,Relay4
0,MT1080,113,2021-03-05 20:28:38 UTC,232,32.1,36.8,13.9,56.1,0,20.3,...,0,0,0,0,0,65536,0,0,0,0
1,MT1080,112,2021-03-05 20:53:51 UTC,232,31.9,35.4,13.9,56.1,0,17.7,...,0,0,0,0,0,65536,0,0,0,0
2,MT1080,112,2021-03-05 21:20:06 UTC,1,31.3,32.4,12.4,48.9,0,0.1,...,0,0,0,0,0,65536,0,0,0,0
3,MT1080,113,2021-03-05 22:30:35 UTC,1,29.9,30.4,12.4,48.7,0,0.1,...,0,0,0,0,0,65536,0,0,0,0
4,MT1080,113,2021-03-05 22:35:36 UTC,1,29.8,30.4,12.4,48.7,0,0.1,...,0,0,0,0,0,65536,0,0,0,0

In [ ]:
raw_data.dtypes

DevID                       object
Fuel_Ltrs                    int64
SysDT                       object
Gen_Voltage                  int64
Temp0                      float64
Temp1                      float64
BatBank0                   float64
BatBank1                   float64
CP                           int64
CT0                        float64
CT1                        float64
OnBatTime                    int64
DCPower                      int64
DCEnergy                     int64
GenRun_Alarm                 int64
GenBat_Alarm                 int64
Rectifier_Failure_Alarm      int64
Door_Alarm                   int64
Battery_Alarm                int64
Temp1BitC                    int64
Temp1BitB                    int64
Temp1BitA                    int64
Temp0BitC                    int64
Temp0BitB                    int64
Temp0BitA                    int64
Relay0                       int64
Relay1                       int64
Relay2                       int64
Relay3                       int64
Relay4                       int64
dtype: object

In [ ]:
## rename column names
raw_data = raw_data.rename(columns={'SysDT': 'Fuel_Ltrs','Fuel_Ltrs': 'SysDT'})
raw_data.head()

,DevID,Fuel_Ltrs,SysDT,Gen_Voltage,Temp0,Temp1,BatBank0,BatBank1,CP,CT0,...,Temp1BitB,Temp1BitA,Temp0BitC,Temp0BitB,Temp0BitA,Relay0,Relay1,Relay2,Relay3,Relay4
0,MT1080,113,2021-03-05 20:28:38 UTC,232,32.1,36.8,13.9,56.1,0,20.3,...,0,0,0,0,0,65536,0,0,0,0
1,MT1080,112,2021-03-05 20:53:51 UTC,232,31.9,35.4,13.9,56.1,0,17.7,...,0,0,0,0,0,65536,0,0,0,0
2,MT1080,112,2021-03-05 21:20:06 UTC,1,31.3,32.4,12.4,48.9,0,0.1,...,0,0,0,0,0,65536,0,0,0,0
3,MT1080,113,2021-03-05 22:30:35 UTC,1,29.9,30.4,12.4,48.7,0,0.1,...,0,0,0,0,0,65536,0,0,0,0
4,MT1080,113,2021-03-05 22:35:36 UTC,1,29.8,30.4,12.4,48.7,0,0.1,...,0,0,0,0,0,65536,0,0,0,0

In [ ]:
fuel_data = raw_data[['Fuel_Ltrs', 'SysDT','DevID','Gen_Voltage']]
fuel_data.head()

   Fuel_Ltrs                    SysDT   DevID  Gen_Voltage
0        113  2021-03-05 20:28:38 UTC  MT1080          232
1        112  2021-03-05 20:53:51 UTC  MT1080          232
2        112  2021-03-05 21:20:06 UTC  MT1080            1
3        113  2021-03-05 22:30:35 UTC  MT1080            1
4        113  2021-03-05 22:35:36 UTC  MT1080            1

In [ ]:
fuel_data.dtypes

Fuel_Ltrs       int64
SysDT          object
DevID          object
Gen_Voltage     int64
dtype: object

In [ ]:
fuel_data.describe()

         Fuel_Ltrs  Gen_Voltage
count  9175.000000  9175.000000
mean    194.867902    59.521090
std      85.896107   100.840065
min      63.000000     0.000000
25%     124.000000     0.000000
50%     172.000000     1.000000
75%     268.000000   229.000000
max     365.000000   251.000000

In [ ]:
grouped_data = list(fuel_data.groupby('DevID'))
variables = locals()
for i in range(len(grouped_data)):
    df_name = grouped_data[i][0]
    variables["df_{0}".format(df_name)] = pd.DataFrame(grouped_data[i][1])
    variables["df_{0}".format(df_name)].loc[variables["df_{0}".format(df_name)]['Gen_Voltage']>=200,'Gen_Status'] = 'Active'
    variables["df_{0}".format(df_name)].loc[variables["df_{0}".format(df_name)]['Gen_Voltage']<200,'Gen_Status'] = 'Inactive'
df_MT1080.head()

   Fuel_Ltrs                    SysDT   DevID  Gen_Voltage Gen_Status
0        113  2021-03-05 20:28:38 UTC  MT1080          232     Active
1        112  2021-03-05 20:53:51 UTC  MT1080          232     Active
2        112  2021-03-05 21:20:06 UTC  MT1080            1   Inactive
3        113  2021-03-05 22:30:35 UTC  MT1080            1   Inactive
4        113  2021-03-05 22:35:36 UTC  MT1080            1   Inactive

In [ ]:
df_MT1080['DateTime'] = pd.to_datetime(df_MT1080['SysDT'])
df_MT1080 = df_MT1080.sort_values(by="DateTime").reset_index(drop=True)
df_MT1080.head()

,Fuel_Ltrs,SysDT,DevID,Gen_Voltage,Gen_Status,DateTime
0,176,2021-03-01 00:01:29 UTC,MT1080,1,Inactive,2021-03-01 00:01:29+00:00
1,176,2021-03-01 00:06:34 UTC,MT1080,1,Inactive,2021-03-01 00:06:34+00:00
2,176,2021-03-01 00:11:36 UTC,MT1080,1,Inactive,2021-03-01 00:11:36+00:00
3,176,2021-03-01 00:16:38 UTC,MT1080,1,Inactive,2021-03-01 00:16:38+00:00
4,176,2021-03-01 00:21:44 UTC,MT1080,1,Inactive,2021-03-01 00:21:44+00:00

In [ ]:
import numpy as np
df_MT1080['Date'] = np.nan
for i in range(len(df_MT1080)):
    df_MT1080['Date'][i] = str(df_MT1080['DateTime'][i].date())

df_MT1080.head()

C:\Users\92334\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Fuel_Ltrs,SysDT,DevID,Gen_Voltage,Gen_Status,DateTime,Date
0,176,2021-03-01 00:01:29 UTC,MT1080,1,Inactive,2021-03-01 00:01:29+00:00,2021-03-01
1,176,2021-03-01 00:06:34 UTC,MT1080,1,Inactive,2021-03-01 00:06:34+00:00,2021-03-01
2,176,2021-03-01 00:11:36 UTC,MT1080,1,Inactive,2021-03-01 00:11:36+00:00,2021-03-01
3,176,2021-03-01 00:16:38 UTC,MT1080,1,Inactive,2021-03-01 00:16:38+00:00,2021-03-01
4,176,2021-03-01 00:21:44 UTC,MT1080,1,Inactive,2021-03-01 00:21:44+00:00,2021-03-01

In [ ]:
import numpy as np
df_MT1080['Date'] = np.nan
for i in range(len(df_MT1080)):
    df_MT1080['Date'][i] = str(df_MT1080['DateTime'][i].date())

df_MT1080.head()